{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="row col-md-12">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-12">
                        <img class="d-block w-100" src="{{ asset('img/inscriptionProfil.jpg') }}"
                             alt="illustration profil">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="border-radius: 30px;background-color: white; margin-top:30px; margin-bottom:30px;text-align: center;padding-top: 0px;">
                        <div class="row">
                            <div class="col-md-12" style="border-radius: 30px 30px 0px 0px;margin-top:0px; padding-top: 25px;padding-bottom: 25px;background-color: #f1a929;">
                                <h4><b>LISTE DE VOS RESERVATIONS</b></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="margin-top: 20px;text-align: center;padding: 15px 30px 30px 30px;">
                                <i>Vous trouverez ci-dessous toutes vos réservations effectués via notre application.<br>
                                    Sachez que vous pouvez à tout moment annuler une réservation dans un <b>délai supérieur à 24h</b> pour permettre à nos équipes de prendre en compte votre demande à temps.<br>
                                Pour toutes questions complémentaires n'hésitez pas à nous contacter par message ou directement par téléphone !</i>
                                <table class="table table-striped" style="margin-top:30px;text-align: center;">
                                    <thead>
                                    <tr style="background-color: #648496;">
                                        <th scope="col">Date de demande</th>
                                        <th scope="col">Date d'arrivée...</th>
                                        <th scope="col">Date de départ...</th>
                                        <th scope="col">Détails de la chambre et de la réservation</th>
                                        <th scope="col">Détails de l'hôtel</th>
                                        <th scope="col">Annuler une réservation</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for reservation in reservations %}
                                        <tr>
                                            <th scope="row" style="vertical-align: middle;">{{ reservation.createdAt|date('d-m-Y H:i:s') }}</th>
                                            <td style="vertical-align: middle;">{{ reservation.startDate|date('d-m-Y') }}</td>
                                            <td style="vertical-align: middle;">{{ reservation.finalDate|date('d-m-Y') }}</td>
                                            <td style="vertical-align: middle;">{{ reservation.bedroom.description ~ ' pour un total de ' ~ reservation.price ~ '€ pour ' ~ reservation.nbOfPersons ~ ' personnes' }}</td>
                                            <td style="vertical-align: middle;">{{ "Hôtel " ~ reservation.bedroom.hotel.name ~ ' à ' ~ reservation.bedroom.hotel.city.name }}</td>
                                            <td>
                                                {% if reservation.startDate|date_modify("-1 day") >= date() %}
                                                    <a href="{{ path('deleteReservation', {id: reservation.id}) }}" class="btn blueLink">Annuler</a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>
{% endblock %}