{% extends 'base.html.twig' %}

{% block body %}
    <section class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8">
                <h1 class="redPolice">Utilisateur</h1>

                {% form_theme userForm 'bootstrap_4_layout.html.twig' %}
                {{ form_start(userForm) }}

                {{ form_row(userForm.firstname) }}
                {{ form_row(userForm.lastname) }}
                {{ form_row(userForm.email) }}
                {{ form_row(userForm.password.first) }}
                {{ form_row(userForm.password.second) }}

                <button type="submit" class="btn btn-primary">Validate</button>
                <router-link class="btn blueLink" to="/">Annuler</router-link>
                {{ form_end(userForm) }}
            </div>
        </div>
    </section>
{% endblock %}
