{% extends 'base.html.twig' %}

{% block body %}
<section class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <h1>Réserver pour :</h1>
    <div>
        <div><span>Nom de l'hôtel : {{ bedRoom.hotel.name }} </span></div>
        <div><span>Contact de l'hôtel : {{ bedRoom.hotel.email }}</span></div>
        <div><span>Adresse : {{ bedRoom.hotel.address }}</span></div>
        <div><span>Département : {{ bedRoom.hotel.department.name }} </span></div>
        <div><span>Ville : {{ bedRoom.hotel.city.name }}</span></div>
        <div><span>Code postal : {{ bedRoom.hotel.postalCode.code }}</span></div>
        <div><span>Prix de la chambre : {{ bedRoom.price ~ '€' }}</span></div>
        <div><span>Description de la chambre : {{ bedRoom.description }}</span></div>
    </div>

    {% form_theme reservationForm 'bootstrap_4_layout.html.twig' %}
    {{ form_start(reservationForm, {'attr': {'novalidate': 'novalidate'}}) }}

    {{ form_label(reservationForm.startDate) }}
    {{ form_widget(reservationForm.startDate) }}
    {{ form_label(reservationForm.finalDate) }}
    {{ form_widget(reservationForm.finalDate) }}
    {{ form_label(reservationForm.nbOfPersons) }}
    {{ form_widget(reservationForm.nbOfPersons) }}

    <button type="submit" class="btn btn-primary">Valider</button>
    {{ form_end(reservationForm) }}
</section>
{% endblock %}
