{% extends 'backoffice/base_backoffice.html.twig' %}

{% block body %}
    <section class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <h1>BackOffice - Hotelier</h1>
        <a href="{{ path('hotelierCreateHotels') }}" class="btn btn-primary">Ajouter un hotel</a>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Nom de l'hôtel</th>
                <th scope="col">Adresse</th>
                <th scope="col">Email</th>
                <th scope="col">Description</th>
                <th scope="col">Image</th>
                <th scope="col">Date de publication</th>
                <th scope="col">Ajouté par</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for hotel in hotels %}
                <tr>
                    <td><b><a href="{{ path('hotelierChambresHotel', {id: hotel.id}) }}">{{ hotel.name }}</a></b></td>
                    <td>{{ hotel.address }}</td>
                    <td>{{ hotel.email }}</td>
                    <td>{{ hotel.description }}</td>
                    <td>
                        {% if hotel.image %}
                            <img src="{{ asset('/uploads/images/'~hotel.image.uri) }}" style="width:200px;height:200px;"></td>
                        {% else %}
                            Pas d'image associée
                        {% endif %}
                    <td>{{ hotel.createdAt|date('d-m-Y H:i:s') }}</td>
                    <td>{{ hotel.owner.lastname }} {{ hotel.owner.firstname }}</td>
                    <td>
                        <a href="{{ path('hotelierEditHotels', {id: hotel.id}) }}" class="btn btn-warning">Edit</a>
                        <a href="{{ path('hotelierDeleteHotels', {id: hotel.id}) }}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
